<mat-tree #tree [dataSource]="nodeUrls" [childrenAccessor]="childrenAccessor" class="nav">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <div class="flex items-center gap-2 cursor-pointer hover:bg-gray-300 rounded-md">
      <mat-icon>{{node.icon}}</mat-icon>
      <a [routerLink]="node.url" routerLinkActive="active"> {{ node.name }}</a>
    </div>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
    [cdkTreeNodeTypeaheadLabel]="node.name" class="cursor-pointer">
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-icon>{{node.icon}}</mat-icon>
    {{node.name}}
  </mat-tree-node>
</mat-tree>