/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@plugin "daisyui" {
  themes: dracula --default;
}

@font-face {
  font-family: 'monserrat';
  src: url('../public/assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}

@theme {
  --font-monserrat: "monserrat", sans-serif;
  --animate-fadeIn: fadeIn 0.5s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }
}
