<section class="flex flex-col items-center justify-center h-full text-center mt-10">
    <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" viewBox="0 0 48 48">
        <defs>
            <mask id="SVGijWl8bxE">
                <path fill="#555555" fill-rule="evenodd" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="4" d="m6 11l5-5l13 13L37 6l5 5l-13 13l13 13l-5 5l-13-13l-13 13l-5-5l13-13z"
                    clip-rule="evenodd" />
            </mask>
        </defs>
        <path fill="currentColor" d="M0 0h48v48H0z" mask="url(#SVGijWl8bxE)" />
    </svg>
    <h2>No found</h2>
    <a (click)="goBack()" class="link-primary cursor-pointer">Go back</a>
</section>