<div class="mt-5">
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>#</th>
                    <th>Icon</th>
                    <th>Flag</th>
                    <th>Name</th>
                    <th>Capital</th>
                    <th>People</th>
                    <th>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1.5"
                                d="M22.63 14.869L15 22.5l-3.75.75l.75-3.75l7.63-7.631a2.116 2.116 0 0 1 2.992 0l.008.009a2.115 2.115 0 0 1 0 2.991M3.375 4.875a4.125 4.125 0 1 0 8.25 0a4.125 4.125 0 0 0-8.25 0m9.963 9.044A6.729 6.729 0 0 0 .75 17.249" />
                        </svg>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (country of countries(); track $index) {
                <tr>
                    <td>{{ $index + 1 }}</td>
                    <td class="avatar">
                        <div class="ring-primary ring-offset-base-100 w-11 rounded-full ring-1 ring-offset-2">
                            <img [src]="country.coatOfArms" [alt]="country.flags.alt" />
                        </div>
                    </td>
                    <td>
                        <div class="w-12 rounded-xs">
                            <img [src]="country.flags.svg" [alt]="country.flags.alt">
                        </div>
                    </td>
                    <td>{{ country.name }}</td>
                    <td>{{ country.capital }}</td>
                    <td>{{ country.population | number: '2.0-1' }}</td>
                    <td><a class="link-primary cursor-pointer">more...</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>