<app-search-input [placeHolder]="'Search by Country'" (searchValue)="query.set($event)" />

<!-- @if(countryResource.error()){
<h3 class="p-4 text-red-500">{{countryResource.error()}}</h3>
}@else if (countryResource.hasValue()) {
<app-country-list [countries]="countryResource.value()" />
} -->

<app-country-list 
    [countries]="countryResource.value() ?? []" 
    [errorMessage]="countryResource.error()"
    [isLoading]="countryResource.isLoading()" 
    [isEmpty]="countryResource.value()?.length === 0" 
/>