<!-- <section class="py-4">
  <app-gif-list [gifs]="gifService.trendingGifs()" />
</section> -->

@if (groupGifs().length> 0) {
  <div 
    #groupDiv 
    class="h-screen bg-red-500 overflow-y-scroll grid grid-cols-2 md:grid-cols-4 gap-4 pt-5"
    (scroll)="onScroll()"
    >
    @for (group of groupGifs(); track group) {
    <div class="grid gap-4">
      @for (gif of group; track gif.id) {
      <div>
        <img class="w-full h-full rounded-lg object-contain" [src]="gif.url" [alt]="gif.title">
      </div>
      }
    </div>
    }
  </div>
}@else {
  <p class="text-2xl text-gray-700">No content!</p>
}