@if(store.isLoading()){
<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
}
@if(store.error()){
<div class="error-message">
  <p>{{ store.error() }}</p>
</div>
}
@if (store.getChannelSelected()){
  <p>test</p>
<div class="flex flex-col justify-center align-middle">
  <app-channel-player [channel]="store.getChannelSelected()!"></app-channel-player>
</div>
} @else {
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
  @for (channel of store.getGroupSelected(); track channel.id) {
  <app-channel-player [channel]="channel"></app-channel-player>
  }
</div>
}
